DATABASE_URL=your_database_url_here
JWT_SECRET=your_jwt_secret_here
CLIENT_URL=http://localhost:5173
PORT=8000
EMAIL_USER=your_email_here
EMAIL_PASS=your_email_password_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_REDIRECT_URI=your_google_redirect_uri_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here